<launch>
         <node name="qbo_audio_control" pkg="qbo_audio_control" type="qbo_audio_control" output="screen">
             <param name="threshold_to_on" value="0.0"/>
             <param name="threshold_to_off" value="0.0"/>
             <param name="max_accum" value="1"/>
<!--             <param name="default_input" value="Rear Mic"/> -->
            <param name="default_input" value="Front Mic"/>
<!--          <param name="default_input" value="Mic"/> --> 
             <param name="mic_volume" value="45"/> 
<!--              <param name="mic_volume" value="35"/> -->
             <param name="mic_boost" value="0" />
             <param name="front_volume" value="100"/>
             <param name="master_front_volume" value="100"/>
	     <param name="speaker" value="100"/>
         </node>
</launch>
