
Version: 1.1-openqbo0
Priority: standard
Architecture: amd64
Section: OpenQbo
Depends: qbo-arduqbo
Maintainer: Arturo Bajuelos <arturo@openqbo.org>
Homepage: http://openqbo.org/wiki/doku.php?id=qbo_apps:ros_pack:qbo_stereo_selector
Description: This node selects a close object using the stereo cameras
