
Version: 1.0-openqbo2
Priority: standard
Section: OpenQbo
Architecture: amd64
Depends: qbo-talk, qbo-listen, qbo-self-recognizer
Maintainer: Arturo Bajuelos <arturo@openqbo.org>
Homepage: http://openqbo.org/wiki/doku.php?id=qbo_apps:ros_pack:qbo_object_recognition
Description: ROS node that learns and recognizes objects
