<launch>
         <!-- launch voice disabler-->
         <include file="$(find qbo_audio_control)/launch/audio_control_listener.launch" /> 

         <node name="qbo_listen" pkg="qbo_listen" type="qbo_listen" output="screen">
             <param name="config" value="-C"/>
             <param name="configfile" value="/opt/ros/hydro/stacks/qbo_listen/config/julius.jconf"/>
         </node> 
</launch>

