
Version: 1.0-openqbo0
Priority: standard
Architecture: amd64
Section: OpenQbo
Maintainer: Miguel Angel Julian <miguel.a.j@openqbo.org>
Homepage: http://openqbo.org/wiki/doku.php?id=qbo_apps:ros_pack:qbo_camera
Description: This package provides a camera calibration node for ROS and a camera launcher for qbo. 
 This package is a program that calibrates the cameras.
