<%include file="cameraHeaderTemplate.html"/>
<p>${language['endOk']}
<br/>
<button id="cameraCheckRestartBut">${language['restart']}</button>
</p>

<script>
    window.cameraCheckImgSrc="/img/ok.png";
    jQuery("#cameraCheckImg").attr("src",window.cameraCheckImgSrc);
    jQuery("#cameraCheckRestartBut").button().click(function() {
        jQuery.ajax({
            type: "GET",
            url: "/checkers/index/cameraCheck/restart",
            dataType: "json",
            success: function(data){

                var javascript=null;
                var css=null;
                var html=null;

                //Comprobamos los datos devueltos por el server
                if('jsElement' in data)
                {
                  javascript=data['jsElement']; //El codigo javascript
                }
                if('cssElement' in data)
                {
                  css=data['cssElement']; //El codigo css
                }
                if('htmlElement' in data)
                {
                  html=data['htmlElement']; //El codigo HTML
                }
                else
                {
                  htmlElement='ERROR!! no HTML data'
                }

                //Metemos el HTML en el div correspondiente
                jQuery("#cameraCheck_content").html(html);

                if(javascript!=null)
                {
                  // Creo el nuevo JS
                  var etiquetaScript=document.createElement("script");
                  document.getElementsByTagName("head")[0].appendChild(etiquetaScript);
                  etiquetaScript.text=javascript;
                }

                if(css!=null)
                {
                  // Creo el nuevo CSS
                  var etiquetaStyle=document.createElement("style");
                  document.getElementsByTagName("head")[0].appendChild(etiquetaStyle);

                  if(navegador==0)
                  {
                      var contenidoCSS=css.split("{");
                      var ultimaEtiquetaStyle=document.styleSheets[document.styleSheets.length-1];
                      ultimaEtiquetaStyle.addRule(contenidoCSS[0], "{"+contenidoCSS[1]);
                  }
                  else
                  {
                      var contenidoCSS=document.createTextNode(css);
                      etiquetaStyle.appendChild(contenidoCSS);
                  }
                }
            },
            //dataType: "text"
          });
      });
</script>
