Package: qboros-electric-qbo-questions
Source: qboros-electric-qbo-questions
Version: 1.2-openqbo0
Section: OpenQbo
Depends: ros-electric-ros, python, qboros-electric-qbo-listen (>= 1.3), qboros-electric-qbo-talk, qboros-electric-qbo-system-info, qboros-electric-qbo-face-vision, qboros-electric-qbo-internet-services
Priority: standard
Architecture: amd64
Maintainer: Sergio Merino <s.merino@openqbo.org>
Homepage: http://openqbo.org/wiki/doku.php?id=qbo_apps:ros_pack:qbo_questions
Description: This package is a ros node to answer questions asked by users
 This node answer questions asked by the users using the qbo_listen topic and the qbo_talk service.
