Package: qboros-electric-qbo-self-recognizer
Source: qboros-electric-qbo-self-recognizer
Version: 1.0-openqbo0
Priority: standard
Section: OpenQbo
Architecture: amd64
Depends: qboros-electric-qbo-arduqbo
Maintainer: Arturo Bajuelos <arturo@openqbo.org>
Homepage: http://openqbo.org/wiki/doku.php?id=qbo_apps:ros_pack:qbo_self_recognizer
Description: The self_recognizer node enables Q.bo to recognize itself, by emitting nose signals and recognizing them using its webcams
