Package: qboros-electric-qbo-http-api-login
Source: qboros-electric-qbo-http-api-login
Version: 1.2-openqbo0
Priority: standard
Architecture: amd64
Section: OpenQbo
Depends: ros-electric-ros, python-tornado (>= 2.2), qboros-electric-qbo-linphone, qboros-electric-qbo-webi, qboros-electric-qbo-audio-control, qboros-electric-qbo-pymouth, qboros-electric-qbo-stereo-anaglyph
Maintainer: Daniel Cuadrado <daniel.cuadrado@openqbo.org>
Homepage: http://openqbo.org/wiki/doku.php?id=qbo_apps:ros_stack:qbo_http_api_login
Description: REST Service to comunicate Q.bo
