
Version: 1.2-openqbo0
Priority: standard
Architecture: amd64
Section: OpenQbo
Depends: qbo-listen, qbo-talk, qbo-face-vision, executive-smach, executive-smach-visualization, qbo-music-player, qbo-random-move
Maintainer: Arturo Bajuelos <arturo@openqbo.org>
Homepage: http://openqbo.org/wiki/doku.php?id=qbo_apps:ros_stack:qbo_brain
Description: Manages several Qbo apps, activating/deactivating dynamically ROS nodes in Qbo.
