

.delete_sentence{
    margin-bottom: 10px;
    margin-left: -5px;
}

.delete_sentence:hover{
    margin-bottom: 10px;
    margin-left: -5px;
    cursor: pointer;
}

.td_qbo_questions{
    width:320px;
}



.ul_qbo_questions{
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}


.speaker_icon{
    margin-top: 7px;
    margin-left: -23px;    
}

.speaker_icon:hover{
    margin-top: 7px;
    margin-left: -23px;
    cursor: pointer;
}

