Package: qboros-electric-qbo-arduqbo
Source: qboros-electric-qbo-arduqbo
Version: 1.1.1-openqbo0
Section: OpenQbo
Depends: qboros-electric-qbo-cereal-port
Priority: standard
Architecture: amd64
Maintainer: Miguel Angel Julian <miguel.a.j@openqbo.org>
Homepage: http://openqbo.org/wiki/doku.php?id=qbo_apps:ros_pack:qbo_arduqbo
Description: This package is the ROS serial driver of the controller boards of QBO.
 This package is the ROS serial driver of the controller boards of QBO. It is needed to control the movement and sensors of QBO.
